*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --index: calc(1vw + 1vh);
 }

@font-face {
    font-family: raleway;
    src: url(../fonts/Raleway-Medium.ttf);
    font-weight: 900;
}

@font-face {
    font-family: inter;
    src: url(//static/fonts/Inter-SemiBold.ttf);
    font-weight: 900;
}

body{
    background-color: black;
    color: white;
    font-family: raleway;
}

/* Меню начало */

.header-top{
    background-color:transparent;
    color: white;
    align-items: center;
}

/* меню   */
.menu-list{
    background-color: transparent; 
    list-style-type: none;
    display: flex;
    gap: 1vw; 
    margin-top: 5vh;
    margin-left: 10vh;
 }

 .menu-link-left_1{
    margin-left: 15vh;
    text-decoration: none;
    font-family: raleway;
    color: white;
 }

 .menu-link-left{
    font-size: 15px;
    text-decoration: none;
    font-family: raleway;
    color: white;
}

.menu-link-right_1{
    margin-left: 100vh;
    text-decoration: none;
    font-family: raleway;
    color: white;
}

.menu-link-right{
    font-family: raleway;
    font-size: 15px;
    text-decoration: none;
    color: white;
    float: left;
}

.menu-body li a:hover{
    font-family: raleway;
}

img.background{
    min-height: 100%;
    min-width: 640px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    @media screen and (max-width: 640px){
        img.bg {
          left: 50%;
          margin-left: -320px;
        }
      }
}

img.logo{
    position: fixed;
    margin-top: 18vh;
    margin-bottom: 32vh;
    margin-left: 21vh;
    margin-right: 20vh;
}

.text{
    font-family: raleway;
    font-size: 100px;
    opacity: 10%;
    align-content: center;
    line-height: 12vh;
    -webkit-text-stroke:9px white;
    -webkit-text-fill-color:transparent;
}

h1{
    margin-left: 30vw;
    padding-top: 10vw;
}
h2{
    margin-left: 30vw;
    padding-top: 8vw;
}