*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

@font-face {
    font-family: raleway;
    src: url(../fonts/Raleway-Medium.ttf);
    font-weight: 900;
}

@font-face {
    font-family: red_hat_medium;
    src: url(../fonts/RedHatDisplay-Medium.ttf);
    font-weight: 900;
}

@font-face {
    font-family: red_hat_bold;
    src: url(../fonts/RedHatDisplay-Bold.ttf);
    font-weight: 900;
}


.Teamgather{
    font-family: red_hat_bold;
    padding-left: 13vh;
    padding-top: 5vh;
    font-size: 32px;
}

a{
    text-decoration: none;
    color: black;
}

h2{
    font-family: red_hat_medium;
    font-size: 22px;
    text-align: center;
}

.enter{
    margin-left: 183px;
    margin-top: 106px;
    margin-right: 178px;
}

/* размер окна входа */
.user-container {
    position: absolute;
    width: 510px;
    height: 570px;
    left: 483px;
    right: 487px;
    top: 103px;
    bottom: 97px;

    background: #EBEBEB;
    border-radius: 44px; 
}

.Bykva{
    position: absolute;
    width: 94px;
    height: 100px;
    left: 210px;
    right: 206px;
}

/*размер шрифта для ввода данных*/
.login-form input{
    font-family: raleway;
    padding-left: 10px;
    font-size: 16;
    
}

/* поля ввода данных */
.login-form input.has_border_log {
    position: absolute;
    width: 370px;
    height: 55px;
    border-radius: 12px;
    left: 72px;
    top: 182px;
    background-color: #D9D9D9;
    border: none;
  }

  .login-form input.has_border_mail {
    position: absolute;
    width: 370px;
    height: 55px;
    border-radius: 12px;
    left: 75px;
    top: 250px;
    background-color: #D9D9D9;
    border: none;
  }

  .login-form input.has_border_tel {
    position: absolute;
    width: 370px;
    height: 55px;
    border-radius: 12px;
    left: 75px;
    top: 318px;
    background-color: #D9D9D9;
    border: none;
  }

 .login-form input.has_border_pas {
    position: absolute;
    width: 370px;
    height: 55px;
    border-radius: 12px;
    left: 75px;
    top: 387px;
    background-color: #D9D9D9;
    border: none;
  }

  button{
    box-sizing: border-box;
    position: absolute;
    width: 150px;
    height: 55px;
    left: 182px;
    top: 481px;
    background: #395ACD;
    border-radius: 12px;
    border: none;
}

button a{
    text-decoration: none;
    color: white;
    font-family: raleway;
    font-size: 16px;
}

/* Треугольники слева */
.layer_1{
    position: absolute;
    bottom: 0;
}
.layer_1 img{
    display: block;
}

/* Треугольники справа */
.layer_2{
    position: absolute;
    bottom: 0;
    right: 0;
}
.layer_2 img{
    display: block;
    margin-left: auto;
}
